<mat-card
    class="card-holder">
    <div class="m-b-30">
        <h2 *ngIf="!editMode">{{article.title}}</h2>
        <input
            *ngIf="editMode"
            class="form-control"
            [value]="article.title">
    </div>
    <div class="card-image-holder">
        <img
            mat-card-image
            [src]="'pictures/' + article.image"
            alt="Pic">
        <div *ngIf="editMode">
            <button
                mat-fab
                color="accent"
                class="button-upload">
                <fa-icon
                    [icon]="faCloudUploadAlt"></fa-icon>
            </button>
            <input
                #fileUploadInput
                type="file"
                name="file"
                class="form-control-upload"
                accept="image/png,image/jpg,application/pdf"
                (change)="onArticleImageUpload()">
        </div>
    </div>
    <mat-card-content>
        <p *ngIf="!editMode">{{article.description}}</p>
        <textarea
            *ngIf="editMode"
            class="form-control-text form-control-text-md"
            [value]="article.description"></textarea>
    </mat-card-content>
    <mat-card-actions fxLayout="row wrap">
        <button-element 
            *ngFor="let button of buttons"
            [button]="button"
            (buttonEvent)="onDispatchButtonEvent($event)"></button-element>
    </mat-card-actions>
</mat-card>
<div fxLayout="row wrap" fxLayoutAlign="flex-end" class="m-t-15 m-r-15"> 
    <button d mat-flat-button color="primary" routerLink="/users">Back</button>
</div>