.card {
    border: 0;
    border-radius: 0;
}

.card-img,
.card-img-top,
.card-img-bottom {
    border-radius: 0;
}

.card-header,
.card-block,
.card-footer {
    border: 0;
    background: transparent;
    padding: 0;
}
