//Inputs
$input-holder-md: 50%;

$form-control: 50px;
$rounded-md: 4px;

@include placeholder {
    line-height: 1.92;
    opacity: 1;
    transition: opacity .3s ease;
}

input:focus,
.form-control:focus {
    outline: none;

    @include placeholder {
        opacity: 0;
        transition: opacity .3s ease;
    }
}

textarea {
    width: calc(100% - 10px);
    padding: 5px;
    resize: none;
}

.form-control-text-md {
    height: 50px;
}

input, 
textarea {
    text-overflow: ellipsis;
}

.input-holder {
    position: relative;
    transition: all .15s ease;
}

.form-control {
    width: calc(100% - 50px);
    height: 40px;
    padding: 0 35px 0 15px;
    color: #999;
    font-size: em(16);
    border: 1px solid #ccc;
    box-shadow: none;

    &.rounded {
        border-radius: $rounded-md;
    }

    &:focus, 
    &:active {
        box-shadow: none;
        outline: 0;
    }

    @include placeholder {
        color: #ccc;
    }
}
