<mat-card
    class="card-holder">
    <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="'pictures/' + article.image" alt="Pic">
    <mat-card-content>
        <p>{{article.description}}</p>
    </mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <span class="article-time">Created: {{articleCreatedDate}}</span>
        <span class="article-time">Updated: {{articleUpdatedDate}}</span>
    </div>
</mat-card>